.sidebar-container {
    width: 13.5%;
    background: #394B59;
    height: 95vh;
    padding-top: 30px;
    color: white;
}

.pt-icon {
    fill: #c8c9ce;
    margin-right: 20px;
    display: block;
}

.sidebar-links-container {
        display: flex;
        width: 100%;
        position: relative;
        top: -25px;        

}
.sidebar-links-container ul {
    padding: 0;
    
}

.sidebar-links-container ul li {
    list-style-type: none;
    
}

.sidebar-ul {
    float: left;
    margin-left: 35px;
    position: relative;
}

.menu-title h3 {
    border-bottom: 1px solid #4e4e52;
    color: white !important;
    clear: both;
    display: block;
    font-size: 10px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
}

.menu-icon {
    float: left;
    margin-top: -1px;
}

.menu-item:hover {
    color: white !important;
}

.menu-item {
    color: #c8c9ce !important;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    display: inline-flex;
}

.menu-item p {
    float: left;
}
.menu-item:hover {
    color: white;
}